.primary{
    background-color: var(--primary);
}

.secondary{
    background-color: var(--neutral-dark);
}

.section{
    padding:12px;
    width:100vw;
    position:relative;
}

.black{
    background-color: var(--neutral-dark);
}