.nav{
    margin: 8px 8px 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero{
    background: var(--primary);
}

.moreInfo{
    background-color: transparent;
    background-image: linear-gradient(180deg, transparent 0%, var(--neutral-med) 95%,var(--neutral-med) 100%);
}