.nav{
    margin: 8px 8px 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index:999;
}

.hero{
    background: var(--primary);
}

.moreInfo{
    background-color: transparent;
    background-image: linear-gradient(180deg, transparent 0%, var(--neutral-dark) 95%,var(--neutral-dark) 100%);
}

.graphic{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
}