.card{
    height:100%;
    overflow:clip;
    background:var(--neutral-med);
    border-radius:10px;
    overflow: clip;
}

.cardbox{
    border-radius: 12px;
    transition: 1s box-shadow;
}

.glow{
    box-shadow: 0 0 2px 0 var(--neutral-light),
    0 0 500px -200px var(--neutral-light),
    0 0 100px -70px rgba(0, 0, 0, 0);
}

.glow:hover{
    box-shadow: 0 0 10px -5px var(--neutral-light),
    0 0 500px -200px var(--neutral-light),
    0 0 100px -70px var(--neutral-light);
}