.card{
    height:100%;
    overflow:clip;
    background:var(--neutral-med);
    overflow: clip;
    border-radius: 12px;
    transition: 1s box-shadow, .5s transform;
    position: relative;
    z-index: 1;
    border: 1px solid var(--neutral-med);
}

.card:hover{
    transform: scale(1.02);
    overflow: clip;
}

.text{
    z-index: 10;
    padding:12px;
    background:linear-gradient(to bottom, var(--neutral-med) 0%, var(--neutral-med) 50%, transparent 100%);
}

.glow{
    box-shadow: 0 0 2px 0 var(--neutral-light),
    0 0 500px -200px var(--neutral-light),
    0 0 100px -70px rgba(0, 0, 0, 0);
}

.glow:hover{
    box-shadow: 0 0 2px 0 var(--neutral-light),
    0 0 500px -200px var(--neutral-light),
    0 0 100px -70px var(--neutral-light);
}